.subscription-row{
    margin: auto;
}
.subscription-card{
    text-align: center;
    background: #f0b1b1;
    box-shadow: 1px 1px 5px lightgray;
    padding: 10px;
    border: 2px solid lightgray;
    border-radius: 5px;
}